{{.Keep| SliceBytesToString}}
{{""}}
{{- range $fkey, $function := .Functions -}}
// {{$function.Name}} copies a {{""}}
	{{- range $key, $fromType := $function.From -}}
		{{- if ne $key 0}}, {{end -}}
		{{- $fromType.Field.Name -}}
	{{- end -}}
{{- ""}} to a {{""}}
	{{- range $tkey, $toType := $function.To -}}
		{{- if ne $tkey 0}},{{end -}}
		{{- $toType.Field.Name -}}
	{{- end}}.
func {{$function.Name}}( 
	{{- range $tkey, $toType := $function.To -}}
		{{- if ne $tkey 0}}, {{end -}}
		{{- $toType.Field.VariableName }} {{$toType.ParameterName}}
	{{- end -}}
	{{- range $key, $fromType := $function.From }}, {{""}}
		{{- $fromType.Field.VariableName }} {{$fromType.ParameterName}}
	{{- end -}}
) {


	{{- range $tkey, $toType := $function.To }}
	// {{$toType.Field.Name}} fields
{{""}}
		{{- range $fkey, $toField := $toType.Field.Fields -}}
{{""}}	{{$toField.FullVariableName ""}} = {{""}}
				{{- if ne $toField.From.Options.Convert "" -}}
					{{$toField.From.Options.Convert}}({{$toField.From.FullVariableName ""}})
				{{- else -}}
					{{$toField.From.FullVariableName ""}}
				{{- end}}
{{""}}		{{- end -}}
	{{- end -}}
}
{{- end -}}
